{
  "openapi": "3.1.0",
  "info": {
    "title": "Eunbit Church Medication API",
    "version": "2.0.0",
    "description": "이 API는 은빛교회 시니어 사역용 약 복용 확인 및 기록 기능을 지원합니다."
  },
  "servers": [
    {
      "url": "https://n8n.agentflowlabs.com"
    }
  ],
  "paths": {
    "/webhook/medication-reminder": {
      "post": {
        "summary": "Check or Report Medication",
        "description": "약 복용 조회 또는 복용 기록을 제출합니다.",
        "operationId": "medicationReminder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  { "$ref": "#/$defs/CheckMedication" },
                  { "$ref": "#/$defs/ReportTaken" }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "$defs": {
    "CheckMedication": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "const": "check"
        },
        "data": {
          "type": "object",
          "properties": {
            "user_name": { "type": "string" },
            "birthdate": { "type": "string", "format": "date" },
            "time_period": {
              "type": "string",
              "enum": ["아침", "점심", "저녁", "현재"]
            }
          },
          "required": ["user_name", "birthdate"]
        }
      },
      "required": ["action", "data"]
    },
    "ReportTaken": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "const": "report_taken"
        },
        "data": {
          "type": "object",
          "properties": {
            "user_name": { "type": "string" },
            "birthdate": { "type": "string", "format": "date" },
            "time_period": {
              "type": "string",
              "enum": ["아침", "점심", "저녁"]
            },
            "medications": {
              "type": "array",
              "items": { "type": "string" }
            }
          },
          "required": ["user_name", "birthdate", "time_period", "medications"]
        }
      },
      "required": ["action", "data"]
    }
  }
}
